[package]
name = "custos"
version = "0.6.3"
edition = "2021"
license = "MIT"
description = "A minimal OpenCL, WGPU, CUDA and host CPU array manipulation engine."
repository = "https://github.com/elftausend/custos"
keywords = ["CUDA", "OpenCL", "arrays", "deep-learning", "fixed-size"]
categories = ["science", "mathematics", "no-std", "external-ffi-bindings"]
readme = "README.md"
rust-version = "1.65"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

#cuwanto-server = {path="../cuwanto/cuwanto-server", optional=true}
min-cl = { version="0.1.2", optional=true }

# WGPU deps
futures-intrusive = {version="0.5.0", optional=true}
pollster = {version="0.3", optional=true }
wgpu = {version="0.15", optional=true }

#custos-macro = {path = "../custos-macro", optional=true}
custos-macro = {version = "0.1.0", optional=true}

# no-std float math
libm = { version="0.2.6", optional = true }


[build-dependencies]
min-cl = { version="0.1.2", optional=true }


[features]
#default = ["opencl"]
#default = ["stack", "cpu", "opencl"]
default = ["stack", "cpu", "blas", "static-api", "opencl", "macro", "realloc"]
cpu = []
opencl = ["dep:min-cl", "cpu"]
#network = ["cuwanto-server"]
cuda = []
realloc = []
opt-cache = []
blas = []
static-api = []
stack = []
no-std = ["stack", "dep:libm"]
wgpu = ["dep:wgpu", "dep:pollster", "dep:futures-intrusive"]
autograd = []
macro = ["dep:custos-macro"]

[dev-dependencies]
#criterion = "0.3"
#custos-macro = {path = "../custos-macro"}
custos-macro = {version = "0.1.0"}

[[example]]
name = "cuda_readme"
required-features = ["cuda"]

[[example]]
name = "cpu_readme"
required-features = ["cpu"]

[[example]]
name = "cl_readme"
required-features = ["opencl"]

[[example]]
name = "wgpu"
required-features = ["wgpu"]

[[example]]
name = "static-api"
required-features = ["static-api", "opencl"]

[[example]]
name = "unified_memory"
required-features = ["opencl"]

[[example]]
name = "opencl_kernel_launch"
required-features = ["opencl"]

[[example]]
name = "read"
required-features = ["cpu"]

[[example]]
name = "fixed-size-stack"
required-features = ["cpu", "stack"]


[[test]]
name = "opencl_unified"
required-features = ["opencl"]

[[test]]
name = "cl_kernel_launch"
required-features = ["opencl"]

[[test]]
name = "network_device"
required-features = ["network"]

#[[bench]]
#name = "fixed_size_vs_vec"
#harness = false

[[bench]]
name = "cache_adv"
harness = false

[[bench]]
name = "alloc"
harness = false

#[[bench]]
#name = "gemm"
#harness = false
#required-features = ["opencl", "cuda"]

#[[bench]]
#name = "cuda_vs_opencl"
#harness = false
#required-features = ["opencl", "cuda"]

[package.metadata.docs.rs]
rustc-args = ["--cfg", "docsrs"]